@import url("./normalize.css");

/*===== GENERAL STYLES =====*/

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
